.cart {
	background: rgba(255, 255, 255, .8);
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	width: calc(40% - 2em);
}

.cart h2 {
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	margin-top: 0;
	padding-bottom: .5em;
}

.cart ul {
	list-style-type: none;
	margin-bottom: 1em;
}

.cart li {
	border-bottom: 1px dotted #CCC;
	padding: .25em;
}

.cart li button {
	float: right;
}

.cart .total {
	font-size: 1.5em;
	text-align: right;
}