.cart {
	background: rgba(255, 255, 255, .8);
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	width: calc(40% - 2em);
}


.cart h4 {
	border-bottom: 1px solid #CCC;
}

.cart ul {
	list-style-type: none;
}

.cart li {
	border-bottom: 1px dotted #CCC;
	padding: .25em;
}