<ul class="week">
	<li *ngFor="let shift of shifts">
		<h3>{{shift.date | date: 'EEEE'}}</h3>
		<ul>
			<li (click) = "getMenu($event, shift)"><span>{{shift.shift}}</span><small>Bestellen {{shift.deadline | date: 'd/M H:mm'}}</small></li>
		</ul>
	</li>
</ul>

<ul class="menu">
	<li *ngFor="let category of menu">
		<h3>{{category.name}}</h3>
		<ul>
			<li class="clearfix" *ngFor="let item of category.items">
				{{item.name}} - {{ item.price | currency: 'EUR' : '€' }}
				<button (click)="orderLunchItemForShift($event, item, shift)">
					<span class="gryphicon glyphicon-plus"></span>
				</button>
			</li>
		</ul>
	</li>
</ul>