<ul class="week">
	<li *ngFor="let shift of shifts">
		<h3>{{shift.date | date: 'EEEE'}}</h3>
		<ul>
			<li><span (click)="getMenuForShift(1)">{{shift.shift}}</span><small>Bestellen {{shift.deadline | date: 'd/M H:mm'}}</small></li>
		</ul>
	</li>
</ul>

<ul class="menu menu-noon">
	<li>
		<h3>Soup</h3>
		<ul>
			<li>Soup of the day <button (click)="orderLunchItemForShift()"><span class="gryphicon glyphicon-plus"></span></button></li>
		</ul>
	</li>
	<li>
		<h3>Sandwiches</h3>
		<ul>
			<li>Cheese <button><span class="gryphicon glyphicon-plus"></span></button></li>
			<li>Cheese/Ham <button><span class="gryphicon glyphicon-plus"></span></button></li>
			<li>Americain <button><span class="gryphicon glyphicon-plus"></span></button></li>
		</ul>
	</li>
	<li>
		<h3>Salads</h3>
		<ul>
			<li>Cheese <button><span class="gryphicon glyphicon-plus"></span></button></li>
			<li>Cheese/Ham <button><span class="gryphicon glyphicon-plus"></span></button></li>
			<li>Americain <button><span class="gryphicon glyphicon-plus"></span></button></li>
		</ul>
	</li>
</ul>

<ul class="menu menu-evening">
	<li>
		<h3>Warm</h3>
		<ul>
			<li>Vegetarisch <button><span class="gryphicon glyphicon-plus"></span></button></li>
			<li>Vleesgerecht <button><span class="gryphicon glyphicon-plus"></span></button></li>
		</ul>
	</li>
</ul>