<router-outlet></router-outlet>

<ul class="week">
	<li>
		<h3>Maandag</h3>
		<ul>
			<li><span>Middag</span><small>Bestellen voor 10h</small><li>
			<li><span>Avond</span><small>Bestellen dag op voorhand voor 10h</small><li>
		</ul>
	</li>
	<li>
		<h3>Dinsdag</h3>
		<ul>
			<li><span>Middag</span><small>Bestellen voor 10h</small><li>
			<li><span>Avond</span><small>Bestellen dag op voorhand voor 10h</small><li>
		</ul>
	</li>
	<li>
		<h3>Woensdag</h3>
		<ul>
			<li><span>Middag</span><small>Bestellen voor 10h</small><li>
			<li><span>Avond</span><small>Bestellen dag op voorhand voor 10h</small><li>
		</ul>
	</li>
	<li>
		<h3>Donderdag</h3>
		<ul>
			<li><span>Middag</span><small>Bestellen voor 10h</small><li>
			<li><span>Avond</span><small>Bestellen dag op voorhand voor 10h</small><li>
		</ul>
	</li>
	<li>
		<h3>Vrijdag</h3>
		<ul>
			<li><span>Middag</span><small>Niet bestellen</small><li>
		</ul>
	</li>
</ul>

<div class="menu menu-noon">
	<h3>Soup</h3>
	<ul>
		<li>Soup of the day <button (click)="addItemToCart(1)"><span class="gryphicon glyphicon-plus"></span></button></li>
	</ul>
	<h3>Broodjes</h3>
	<ul>
		<li>Cheese <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Cheese/Ham <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Americain <button><span class="gryphicon glyphicon-plus"></span></button></li>
	</ul>
	<h3>Salads</h3>
	<ul>
		<li>Cheese <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Cheese/Ham <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Americain <button><span class="gryphicon glyphicon-plus"></span></button></li>
	</ul>
</div>

<div class="menu menu-evening">
	<h3>Warm</h3>
	<h3>Broodjes</h3>
	<ul>
		<li>Cheese <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Cheese/Ham <button><span class="gryphicon glyphicon-plus"></span></button></li>
		<li>Americain <button><span class="gryphicon glyphicon-plus"></span></button></li>
	</ul>
</div>