<header></header>
<section id="main-content">
	<div class="loading-ui"></div>
	<div class="tl-split-view">
		<div class="tl-split-content">
			<div class="tl-header-container">
				<div class="tl-header">
					<div class="tl-header-logo">
						<a href="#" id="home"><img src="images/tl_logo.png"></a>
					</div>
					<div class="tl-header-right">
						<div class="header-title"></div>
						<div class="muted smaller header-subtitle"></div>
					</div>
				</div>
				<div class="tl-header-menu">	
				</div>
			</div>
			<div class="tl-split-body-wrapper" [class.no-footer]="footerHidden"><router-outlet></router-outlet></div>
		</div>
		<cart></cart>
		<div class="tl-split-bg"></div>
	</div>
</section>